body {
    background-color: #0a1c28;
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    color: #F21B2D;
}

a:visited {
    color: #A60321;
}

/*--------------------------------------------------------------
# Navbar Section
--------------------------------------------------------------*/
  
#navbar {
    background-color: #0d243499;
    z-index: 1;
}



/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../assets/hero.jpg") top center;
  background-size: cover;
  position: relative;
  margin-bottom: 80px;
  margin-top: -80px;
}
#hero:before {
  content: "";
  background: rgba(19, 3, 0, 0.65);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding-top: 80px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#hero h1 {
  margin: 0 0 10px 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 48px;
  font-weight: 300;
  line-height: 56px;
  color: #fff;
}
#hero h2 {
  color: #fff;
  margin-bottom: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 300;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Map Section
--------------------------------------------------------------*/
#map {
    height: 500px;
}

/*--------------------------------------------------------------
# Timeline Section
--------------------------------------------------------------*/
#timeline {
    background-color:#9C3395;
}

/*--------------------------------------------------------------
# Pivot Section
--------------------------------------------------------------*/
#pivot {
    background-color: #A60321;
}



