body {
    background-color: #0a1c28;
}

p {
    color: #cfc9c7;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #F26BCE;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #F26BCE;
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #F4B5E3;
}

h4 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #F4B5E3;
}

h5 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #cfc9c7;
}

a:link {
    color: #dfa6db;
}

a:visited {
    color: #c888c4;
}

.dropcap {
  float: left;
  position: relative;
  top: -0.30em;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: -0.9em;
  font-size: 50px;
  line-height: normal;
  font-weight: bold;
  padding: 0px 5px 20px  0px;
}

.btn {
  background-color: #F21B2D;

}

.btn:hover {
  background-color: #A60321;
}

.btn a:link {
  color: white;
}

.btn a:visited {
  color: #cfc9c7;
}


/*--------------------------------------------------------------
# Navbar Section
--------------------------------------------------------------*/
  
#navbar {
    background-color: #0d243499;
    z-index: 1;
}



/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../assets/hero.jpg") top center;
  background-size: cover;
  position: relative;
  margin-bottom: 80px;
  margin-top: -80px;
}
#hero:before {
  content: "";
  background: rgba(19, 3, 0, 0.70);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding-top: 80px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#hero h1 {
  margin: 0 0 10px 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 60px;
  font-weight: 350;
  line-height: 56px;
  color: white;
}
#hero h2 {
  color: #cfc9c7;
  margin-bottom: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 200;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Map Section
--------------------------------------------------------------*/
#map {
    height: 85vh;
}

#maptitle {
  font-family: Arial, Helvetica, sans-serif;
  color: #6D80A6;
}


/*--------------------------------------------------------------
# Pivot1 Section (Intro | Labor History)
--------------------------------------------------------------*/
#pivot1 {
    background-color: #A60321;
    height: 50vh;
}

#pivot1 {
  width: 100%;
  height: 50vh;
  background: url("../assets/pivot.png") top center;
  background-size: cover;
  position: relative;
}
#pivot1:before {
  content: "";
  background: rgba(19, 3, 0, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#pivot1 .pivot-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding-top: 80px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#pivot1 h1 {
  margin: 0 0 10px 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: 400;
  color: #fff;
}
#pivot1 h2 {
  color: #fff;
  margin-bottom: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 300;
}

@media (min-width: 1024px) {
  #pivot1 {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #pivot1 h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #pivot1 h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}


/*--------------------------------------------------------------
# Pivot2 Section (Labor History | Grad Union History)
--------------------------------------------------------------*/
#pivot2 {
  background-color: #A60321;
  height: 100vh;
}

#pivot2 {
width: 100%;
height: 100vh;
background: url("../assets/pivot.png") top center;
background-size: cover;
position: relative;
}
#pivot2:before {
content: "";
background: rgba(19, 3, 0, 0.8);
position: absolute;
bottom: 0;
top: 0;
left: 0;
right: 0;
}
#pivot2 .pivot-container {
position: absolute;
bottom: 0;
top: 0;
left: 0;
right: 0;
display: flex;
padding-top: 80px;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
}
#pivot2 h1 {
margin: 0 0 10px 0;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 75px;
font-weight: 400;
color: #fff;
}
#pivot2 h2 {
color: #fff;
margin-bottom: 50px;
font-family: Arial, Helvetica, sans-serif;
font-size: 40px;
font-weight: 300;
}

@media (min-width: 1024px) {
#pivot2 {
  background-attachment: fixed;
}
}
@media (max-width: 768px) {
#pivot2 h1 {
  font-size: 28px;
  line-height: 36px;
}
#pivot2 h2 {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 30px;
}
}

/*--------------------------------------------------------------
# Strike Map Section
--------------------------------------------------------------*/
#map2 {
  height: 85vh;
}

#strikemaptitle {
font-family: Arial, Helvetica, sans-serif;
color: #6D80A6;
}

/*--------------------------------------------------------------
# Search Section
--------------------------------------------------------------*/
